In [9]:
import pandas as pd

df = pd.read_csv('../data/real_estate_data_chicago.csv')

df.head()

,type,text,year_built,beds,baths,baths_full,baths_half,garage,lot_sqft,sqft,stories,lastSoldPrice,soldOn,listPrice,status
0,single_family,"Come check out this amazing, move-in ready, 5 ...",1951.0,4.0,4.0,3.0,1.0,1.0,5615.0,3000.0,2.0,NaN,NaN,750000.0,for_sale
1,single_family,Move in ready 2 story Mount Greenwood home on ...,1922.0,4.0,3.0,2.0,1.0,2.0,6566.0,2900.0,2.0,105000.0,1991-04-16,499900.0,for_sale
2,single_family,Investor Special MONEY MAKING Gem. This is you...,1947.0,4.0,2.0,2.0,NaN,3.0,5375.0,1170.0,2.0,60000.0,2019-10-28,325600.0,for_sale
3,single_family,Renovated Brick 1.5 story house with finished ...,1945.0,4.0,3.0,2.0,1.0,2.0,6138.0,2511.0,2.0,170000.0,1996-05-30,620000.0,for_sale
4,single_family,This almost 3000sq foot home was thoughtfully ...,1907.0,4.0,4.0,2.0,2.0,2.0,8476.0,2870.0,3.0,NaN,NaN,850000.0,for_sale

In [16]:
# Lets get a deeper insight into how much data we're working with

df.shape

(2000, 15)

In [18]:
# 2000 rows of data, now lets see how many of these are N/A

df.isna().sum().sort_values(ascending = False)

baths_half       1408
lot_sqft         1008
garage            718
lastSoldPrice     585
soldOn            585
sqft              553
stories           380
year_built        210
baths_full         63
beds               60
text                8
listPrice           6
baths               1
type                0
status              0
dtype: int64

In [ ]:
# Lets try to clean as much of this data as possible, I don't like missing data. Lets
# start with the highest missing amount. Lets assume no half bath data means that there is no half bath
df['baths_half'] = df['baths_half'].fillna(0)
df['baths_half'].isna().value_counts()

baths_half
False    2000
Name: count, dtype: int64

In [33]:
# For lot sqft we dont want to keep null values at n/a or replace then with 0, so lets just impute them with the medium of the column
df['lot_sqft'] = df['lot_sqft'].fillna(df['lot_sqft'].median())
df['lot_sqft'].isna().value_counts()

lot_sqft
False    2000
Name: count, dtype: int64

In [34]:
# For garage lets take a closer look at the datatype to see what we should replace the null values with 
print(f"Garage Column Datatype: {df['garage'].dtypes}")

# With this in mind we can now impute the missing values with 0 to indicate there is no garage
df['garage'] = df['garage'].fillna(0)
df['garage'].isna().value_counts()

Garage Column Datatype: float64

garage
False    2000
Name: count, dtype: int64

In [38]:
# Next with sold price we can assume an absence of sold on date, means the property was never sold. 
# This gives us the information we need to fill missing rows. The values of sold on and last sale price
# are identical in missing values so we can assume where there is missing one value, they are missing both.

df['lastSoldPrice'] = df['lastSoldPrice'].fillna(0)
df['soldOn'] = df['soldOn'].fillna("Not Sold")

print(df['lastSoldPrice'].isna().value_counts())
print(df['soldOn'].isna().value_counts())

lastSoldPrice
False    2000
Name: count, dtype: int64
soldOn
False    2000
Name: count, dtype: int64