# Real Estate Data Cleaning and Exploration
### By Julian Gutierrez
- Data courtesey of kanchana1990 via [Kaggle](https://www.kaggle.com/datasets/kanchana1990/real-estate-data-chicago-2024?)

In [3]:
# General import as well as assigned our data frame
import pandas as pd

df = pd.read_csv('../data/real_estate_data_chicago.csv')

df.head()

,type,text,year_built,beds,baths,baths_full,baths_half,garage,lot_sqft,sqft,stories,lastSoldPrice,soldOn,listPrice,status
0,single_family,"Come check out this amazing, move-in ready, 5 ...",1951.0,4.0,4.0,3.0,1.0,1.0,5615.0,3000.0,2.0,NaN,NaN,750000.0,for_sale
1,single_family,Move in ready 2 story Mount Greenwood home on ...,1922.0,4.0,3.0,2.0,1.0,2.0,6566.0,2900.0,2.0,105000.0,1991-04-16,499900.0,for_sale
2,single_family,Investor Special MONEY MAKING Gem. This is you...,1947.0,4.0,2.0,2.0,NaN,3.0,5375.0,1170.0,2.0,60000.0,2019-10-28,325600.0,for_sale
3,single_family,Renovated Brick 1.5 story house with finished ...,1945.0,4.0,3.0,2.0,1.0,2.0,6138.0,2511.0,2.0,170000.0,1996-05-30,620000.0,for_sale
4,single_family,This almost 3000sq foot home was thoughtfully ...,1907.0,4.0,4.0,2.0,2.0,2.0,8476.0,2870.0,3.0,NaN,NaN,850000.0,for_sale

In [4]:
# Lets get a deeper insight into how much data we're working with

df.shape

(2000, 15)

In [5]:
# 2000 rows of data, now lets see how many of these are N/A

df.isna().sum().sort_values(ascending = False)

baths_half       1408
lot_sqft         1008
garage            718
lastSoldPrice     585
soldOn            585
sqft              553
stories           380
year_built        210
baths_full         63
beds               60
text                8
listPrice           6
baths               1
type                0
status              0
dtype: int64

In [6]:
# Lets try to clean as much of this data as possible, I don't like missing data. Lets
# start with the highest missing amount. Lets assume no half bath data means that there is no half bath
df['baths_half'] = df['baths_half'].fillna(0)
df['baths_half'].isna().value_counts()

baths_half
False    2000
Name: count, dtype: int64

In [7]:
# For lot sqft we dont want to keep null values at n/a or replace then with 0, so lets just impute them with the medium of the column
df['lot_sqft'] = df['lot_sqft'].fillna(df['lot_sqft'].median())
df['lot_sqft'].isna().value_counts()

lot_sqft
False    2000
Name: count, dtype: int64

In [8]:
# For garage lets take a closer look at the datatype to see what we should replace the null values with 
print(f"Garage Column Datatype: {df['garage'].dtypes}")

# With this in mind we can now impute the missing values with 0 to indicate there is no garage
df['garage'] = df['garage'].fillna(0)
df['garage'].isna().value_counts()

Garage Column Datatype: float64

garage
False    2000
Name: count, dtype: int64

In [9]:
# Next with sold price we can assume an absence of sold on date, means the property was never sold. 
# This gives us the information we need to fill missing rows. The values of sold on and last sale price
# are identical in missing values so we can assume where there is missing one value, they are missing both.

df['lastSoldPrice'] = df['lastSoldPrice'].fillna(0)
df['soldOn'] = df['soldOn'].fillna("Not Sold")

print(df['lastSoldPrice'].isna().value_counts())
print(df['soldOn'].isna().value_counts())

lastSoldPrice
False    2000
Name: count, dtype: int64
soldOn
False    2000
Name: count, dtype: int64

In [10]:
# The rest of our columns can be inputed with the median data of their respective columns as long as they are integers.
# When it comes to making the dashboard I do not want to be missing data, and I do not want to sacrifice data.
# Preservation of data in this instance is important

df['sqft'] = df['sqft'].fillna(df['sqft'].median())
df['stories'] = df['stories'].fillna(df['stories'].median())
df['year_built'] = df['year_built'].fillna(df['year_built'].median())
df['baths_full'] = df['baths_full'].fillna(df['baths_full'].median())
df['beds'] = df['beds'].fillna(df['beds'].median())
df['text'] = df['text'].fillna("No Description")
df['listPrice'] = df['listPrice'].fillna(df['listPrice'].median())
df['baths'] = df['baths'].fillna(df['baths'].median())

In [11]:
# Now lets check null values again
df.isna().sum().sort_values(ascending = False)

type             0
text             0
year_built       0
beds             0
baths            0
baths_full       0
baths_half       0
garage           0
lot_sqft         0
sqft             0
stories          0
lastSoldPrice    0
soldOn           0
listPrice        0
status           0
dtype: int64

In [12]:
# Lets review our data now.
df.head()

,type,text,year_built,beds,baths,baths_full,baths_half,garage,lot_sqft,sqft,stories,lastSoldPrice,soldOn,listPrice,status
0,single_family,"Come check out this amazing, move-in ready, 5 ...",1951.0,4.0,4.0,3.0,1.0,1.0,5615.0,3000.0,2.0,0.0,Not Sold,750000.0,for_sale
1,single_family,Move in ready 2 story Mount Greenwood home on ...,1922.0,4.0,3.0,2.0,1.0,2.0,6566.0,2900.0,2.0,105000.0,1991-04-16,499900.0,for_sale
2,single_family,Investor Special MONEY MAKING Gem. This is you...,1947.0,4.0,2.0,2.0,0.0,3.0,5375.0,1170.0,2.0,60000.0,2019-10-28,325600.0,for_sale
3,single_family,Renovated Brick 1.5 story house with finished ...,1945.0,4.0,3.0,2.0,1.0,2.0,6138.0,2511.0,2.0,170000.0,1996-05-30,620000.0,for_sale
4,single_family,This almost 3000sq foot home was thoughtfully ...,1907.0,4.0,4.0,2.0,2.0,2.0,8476.0,2870.0,3.0,0.0,Not Sold,850000.0,for_sale

In [13]:
# I see that a majority of columns are float types, but it would make sense for some them to be integers so let us fix this.

df['year_built'] = df['year_built'].astype(int)
df['baths'] = df['baths'].astype(int)
df['baths_half'] = df['baths_half'].astype(int)
df['beds'] = df['beds'].astype(int)
df['baths_full'] = df['baths_full'].astype(int)
df['garage'] = df['garage'].astype(int)
df['stories'] = df['stories'].astype(int)
df.head()

,type,text,year_built,beds,baths,baths_full,baths_half,garage,lot_sqft,sqft,stories,lastSoldPrice,soldOn,listPrice,status
0,single_family,"Come check out this amazing, move-in ready, 5 ...",1951,4,4,3,1,1,5615.0,3000.0,2,0.0,Not Sold,750000.0,for_sale
1,single_family,Move in ready 2 story Mount Greenwood home on ...,1922,4,3,2,1,2,6566.0,2900.0,2,105000.0,1991-04-16,499900.0,for_sale
2,single_family,Investor Special MONEY MAKING Gem. This is you...,1947,4,2,2,0,3,5375.0,1170.0,2,60000.0,2019-10-28,325600.0,for_sale
3,single_family,Renovated Brick 1.5 story house with finished ...,1945,4,3,2,1,2,6138.0,2511.0,2,170000.0,1996-05-30,620000.0,for_sale
4,single_family,This almost 3000sq foot home was thoughtfully ...,1907,4,4,2,2,2,8476.0,2870.0,3,0.0,Not Sold,850000.0,for_sale

In [14]:
# Now lets save our newly cleaned data into a csv and explore it a little bit!
df.to_csv('../data/clean_real_estate_data.csv')

df.head()

# One thing that I'm curious abotu is what the most expensive and least expensive sale prices have been
# With cheapest price we want the smallest number that is NOT 0
cheapest_price = df[df['lastSoldPrice'] != 0]['lastSoldPrice'].min()
most_expensive_price = df['lastSoldPrice'].max()

print(f"The cheapest sale price recorded was ${cheapest_price:,}, while the most expensive recorded sale was ${most_expensive_price:,}")

The cheapest sale price recorded was $600.0, while the most expensive recorded sale was $7,500,000.0

In [15]:
# Next I want to see now how many units have never been previously sold
df[df['soldOn'] == 'Not Sold']['soldOn'].value_counts()

# 585 units have never been sold before.

soldOn
Not Sold    585
Name: count, dtype: int64

In [16]:
# Lets get some data on the housing years, I wanna see the history of these homes

df['year_built'].describe()

count    2000.000000
mean     1945.730500
std        36.893176
min      1856.000000
25%      1920.000000
50%      1943.000000
75%      1968.000000
max      2024.000000
Name: year_built, dtype: float64

In [18]:
# Next I want to import the library that will assist me in encoding my data types
from sklearn.preprocessing import OneHotEncoder

# First I want to specify my categorical columns
categorical_cols = ['type', 'status']

# Now we should initialize the encoder
encoder = OneHotEncoder(sparse_output = False, drop = 'first')

# Fit and transorm the categorical data
encoded_array = encoder.fit_transform(df[categorical_cols])

# Lets get the new column names
encoded_cols = encoder.get_feature_names_out(categorical_cols)

# Create encoded dataframe from our array
encoded_df = pd.DataFrame(encoded_array, columns = encoded_cols, index = df.index)

# Concat our two dataframes
df_encoded = pd.concat([df.drop(columns = categorical_cols), encoded_df], axis = 1)

# Lets save our results to a new csv file
df_encoded.to_csv('../data/encoded_real_estate_data.csv', index = False)

# Presenting our new creation
df_encoded.head()

,text,year_built,beds,baths,baths_full,baths_half,garage,lot_sqft,sqft,stories,lastSoldPrice,soldOn,listPrice,type_condos,type_land,type_mobile,type_multi_family,type_single_family,type_townhomes,status_ready_to_build
0,"Come check out this amazing, move-in ready, 5 ...",1951,4,4,3,1,1,5615.0,3000.0,2,0.0,Not Sold,750000.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,Move in ready 2 story Mount Greenwood home on ...,1922,4,3,2,1,2,6566.0,2900.0,2,105000.0,1991-04-16,499900.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,Investor Special MONEY MAKING Gem. This is you...,1947,4,2,2,0,3,5375.0,1170.0,2,60000.0,2019-10-28,325600.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,Renovated Brick 1.5 story house with finished ...,1945,4,3,2,1,2,6138.0,2511.0,2,170000.0,1996-05-30,620000.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,This almost 3000sq foot home was thoughtfully ...,1907,4,4,2,2,2,8476.0,2870.0,3,0.0,Not Sold,850000.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0